header {
    height: 60px;
    padding: 0 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

.logo {
    width: 3rem;
}
header h1 {
    color: rgb(206, 206, 206);;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 3%;
    padding-right: 10%;
}
header nav  a{
    margin-right: 10%;
}
header a {
    color: rgb(206, 206, 206);;
    font-size: x-large;
    font-style: inherit;
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(206, 206, 206);;
  }
  
  a.current:link, a.current:visited {
    color: white;
    background-color: rgb(107, 107, 116);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }